<footer>
  <nav class="navbar footer-navbar">
    <div class="navbar-padding">
      <div class="container footer-container">
        <ul class="nav navbar-nav footer-navbar-nav">
          <li><a class="navbar-link" href="#">Home</a></li>
          <li><a class="navbar-link" href="#">FAQ</a></li>
          <li><a class="navbar-link" href="#">Contact Us</a></li>
          <li><a class="navbar-link" href="#">Buy Barcodes</a></li>
        </ul>
      </div>
    </div>
  </nav>
</footer>
