<div class="header">
  <nav class="navbar navbar-fixed-top">
    <div class="navbar-padding">
      <div class="container">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand navbar-link" href="#">
            <%= image_tag "logo.png", class: "navbar-brand-image" %>
            <span class="navbar-brand-text"><strong>BARCODES</strong>ISRAEL</span>
          </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a class="navbar-link" href="#">Home</a></li>
            <li><a class="navbar-link" href="#">FAQ</a></li>
            <li><a class="navbar-link" href="#">Contact Us</a></li>
            <li class="separator"></li>
            <li><a class="btn btn-primary-outline navbar-link" href="#">Buy Barcodes</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>
