<div class="container buy-container">
  <div class="row">
    <div class="col-sm-7">
      <h1 class="headline headline-buy"><%= I18n.t "buy-barcodes.headline" %></h1>
      <% I18n.t("buy-barcodes.paragraphs").each do |paragraph| %>
        <p><%= paragraph %></p>
      <% end %>

      <div class="panel panel-default">
        <table class="table table-buy table-bordered table-striped">
          <thead>
            <tr>
              <th class="table-header-buy">כמות</th>
              <th class="table-header-buy">מחיר</th>
              <th class="table-header-buy"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td><span dir="ltr">75.00</span> ש"ח</td>
              <td class="table-buy-column"><form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="2XG8KXQP7G7DN">
<input type="image" src="https://www.paypalobjects.com/he_IL/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal - הדרך הקלה והבטוחה יותר לשלם באינטרנט!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
</td>
            </tr>
            <tr>
              <td>5</td>
              <td><span dir="ltr">275.00</span> ש"ח</td>
              <td class="table-buy-column"><form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="CRFK3D66YMEHA">
<input type="image" src="https://www.paypalobjects.com/he_IL/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal - הדרך הקלה והבטוחה יותר לשלם באינטרנט!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
</td>
            </tr>
            <tr>
              <td>10</td>
              <td><span dir="ltr">499.00</span> ש"ח</td>
              <td class="table-buy-column"><form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="9PWC8RQXW9FPA">
<input type="image" src="https://www.paypalobjects.com/he_IL/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal - הדרך הקלה והבטוחה יותר לשלם באינטרנט!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
</td>
            </tr>
            <tr>
              <td>20</td>
              <td><span dir="ltr">899.00</span> ש"ח</td>
              <td class="table-buy-column"><form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="UGMJ8WHM4Z4UL">
<input type="image" src="https://www.paypalobjects.com/he_IL/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal - הדרך הקלה והבטוחה יותר לשלם באינטרנט!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
</td>
            </tr>
           
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="panel panel-default payment-icons-panel">
        <%= image_tag "secure-payment.png", class: "img-responsive center-block" %>
      </div>
      <div class="panel panel-default panel-whats-included">
        <div class="panel-heading">
          <h2 class="headline headline-buy"><%= I18n.t "buy-barcodes.whats-included" %></h2>
        </div>


        <div class="included-item">
          <h3 class="included-item-title">
            UPC ו- EAN 
          </h3>
          <p></p>
          <%= image_tag "ean-and-upc-barcodes.png", class: "img-responsive center-block included-item-image" %>
        </div>

        <div class="included-item">
          <h3 class="included-item-title">
            תמונות ברקוד דיגיטלי ב- 3 פורמטים איכותיים - JPEG, TIFF ו- EPS
          </h3>
          <%= image_tag "image-formats.png", class: "img-responsive center-block included-item-image" %>
        </div>

        <div class="included-item">
          <h3 class="included-item-title">
             תעודת מקוריות +חשבונית
          </h3>
          <%= image_tag "invoice-and-certificate.png", class: "img-responsive center-block included-item-image" %>
        </div>
      </div>
    </div>
  </div>
</div>
