<nav class="navbar  navbar-fixed-top">
  <div class="navbar-padding">
    <div class="container">

      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="icon-bar icon-bar-top"></span>
          <span class="icon-bar icon-bar-middle"></span>
          <span class="icon-bar icon-bar-bottom"></span>
        </button>

        <a class="navbar-brand navbar-link" href="#">
          <%= image_tag "logo.png", class: "navbar-brand-image" %>
          Kenya Barcodes
        </a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a class="navbar-link" href="#">FAQ</a></li>
          <li><a class="navbar-link" href="#">Contact Us</a></li>
          <li class="separator"></li>
          <li><a class="btn btn-primary btn-nav-action navbar-link" href="#">Buy Barcodes</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<div class="hero">
  <div class="hero-wrap">
    <h2 class="hero-headline">
      The easiest way to buy barcodes for your business
    </h2>
    <h3 class="hero-sub-headline">
      Delivery within 1 hour during working hours
    </h3>
    <a class="btn btn-secondary btn-lg" href="#">Buy Barcodes</a>
  </div>
</div>

<div class="why-us">
  <div class="container">
    <h2 class="why-us-headline">Why buy from us?</h2>
    <div class="row">


      <div class="col-sm-6">
        <ul class="why-us-item-list">
          <li class="why-us-item">
            <span class="why-us-icon glyphicon glyphicon-ok-sign"></span>
            <span>Instant and secure payment</span>
          </li>
          <li class="why-us-item"><i class="why-us-icon glyphicon glyphicon-ok-sign"></i>Unique and Authentic GS1 Barcodes</li>
          <li class="why-us-item"><i class="why-us-icon glyphicon glyphicon-ok-sign"></i>1 hour delivery time during working hours</li>
          <li class="why-us-item"><i class="why-us-icon glyphicon glyphicon-ok-sign"></i>No hidden costs or renewal fees</li>
          <li class="why-us-item"><i class="why-us-icon glyphicon glyphicon-ok-sign"></i>Highest retailer acceptance rates in Kenya</li>
          <li class="why-us-item"><i class="why-us-icon glyphicon glyphicon-ok-sign"></i>High quality barcode images included</li>
        </ul>
      </div>

      <div class="col-sm-6">
        <div class="why-us-about-us">
          <p>
            We are Kenya’s largest and most trusted online barcode
store, and our barcodes are accepted by the vast of majority
of retailers nationwide. We also provide for quick, hassle-free
and secure payment facilities through PAYFAST in order to
give you, the customer, complete peace of mind when
making a purchase.
          </p>
          <p>Any questions? Please
            <a href="#">contact us</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="footer-padding">
    <div class="container">
      <ul class="nav nav-pills footer-nav">
        <li><a class="footer-link" href="http://www.lumosity.com/about">Home</a></li>
        <li><a class="footer-link" href="http://www.lumosity.com/contact">FAQ</a></li>
        <li><a class="footer-link" href="http://www.lumosity.com/jobs">Contact Us</a></li>
        <li><a class="footer-link" href="http://www.lumosity.com/press">Buy Barcodes</a></li>
      </ul>
    </div>
  </div>
</footer>
