<div class="container">
  <h1 class="headline headline-faq">שאלות נפוצות</h1>

  <ul class="faq-summary-list">
    <% I18n.t("faqs").each_with_index do |faq, i| %>
      <li>
        <%= link_to faq[:question], "#faq-#{i + 1}", class: "faq-summary-list-link" %>
      </li>
    <% end %>
  </ul>

  <% I18n.t("faqs").each_with_index do |faq, i| %>
    <div class="faq-answer">
      <a class="anchor-offset" name="<%= "faq-#{i + 1}" %>"></a>
      <h2 class="sub-headline sub-headline-faq">
        <%= faq[:question] %>
      </h2>
      <p>
        <% faq[:answer].each do |paragraph| %>
          <p>
            <%= paragraph.html_safe %>
          </p>
        <% end %>
      </p>
    </div>
  <% end %>
