<div class="hero">
  <div class="hero-wrap">
    <h2 class="headline hero-headline">
      <%= I18n.t "hero.headline" %>
    </h2>
    <h3 class="sub-headline hero-sub-headline">
      <%= I18n.t "hero.sub-headline" %>
    </h3>
  </div>
</div>
<div class="why-us">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="headline why-us-headline">
          <%= I18n.t "why-us.headline" %>
        </h2>
      </div>
      <div class="col-sm-6">
        <div class="why-us-about-us">
          <% I18n.t("why-us.paragraphs").each do |paragraph| %>
            <p><%= paragraph.html_safe %></p>
          <% end %>
        </div>
      </div>

      <div class="col-sm-6">
        <ul class="why-us-item-list">
          <% I18n.t("why-us.value-propositions").each do |proposition| %>
            <li class="why-us-item">
              <i class="why-us-icon glyphicon glyphicon-ok-sign"></i>
              <%= proposition %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<!--<div class="testimonials row">-->
<!--  <div class="contai
ner">-->
<!--    <% I18n.t("testimonials").each do |testimonial| %>-->
<!--      <div class="col-sm-4">-->
<!--        <blockquote class="testimonial">-->
<!--          <p>-->
<!--            <%= testimonial[:quote] %>-->
<!--          </p>-->
<!--          <cite><%= testimonial[:who] %></cite>-->
<!--        </blockquote>-->
<!--      </div>-->
<!--    <% end %>-->
<!--  </div>-->
<!--</div>-->
