<%- @pattern_groups.each do |key| -%>
  <%- if @patterns[key].present? %>
    <%- @patterns[key].each do |pattern| -%>

      <p><%= link_to "#{key.capitalize}", component_path(key) if context %> <%= "#{filename(pattern).tr("_", " ").capitalize}" %></p>
      <div class="pattern" id="pattern_<%= pattern_id( key, pattern ) %>">
        <div class="pattern-code">
          <input type="checkbox" id="view_html_<%= pattern_id( key, pattern ) %>"><label for="view_html_<%= pattern_id( key, pattern ) %>">View Source</labeL>
          <%= link_to "&#x279D;".html_safe, single_component_path({ :type=>key, :id=>pattern.gsub(".erb","") }), :class => "pattern-anchor", title: "Direct link to this component" %>

          <code class="language-markup"><%= File.open("#{Rails.root}/app/views/component/#{key}/_#{pattern}").read %></code>
        </div>
        <div class="pattern-preview">
          <div class="pattern-layout">
            <%= render partial: "component/#{key}/#{pattern}" %>
          </div>
        </div>
      </div>

    <%- end -%>
  <%- end -%>
<%- end -%>