<div class="component-header">
  <h1>Component Library: <%= @pattern %></h1>
</div>

<div><span class="sg-pattern-name"><%= @pattern %></span></div>
<div class="pattern">
  <div class="pattern-code">
    <input type="checkbox" id="view_html"><label for="view_html">View Source</labeL>
    <code class="language-markup"><%= @sourcepartial %></code>
  </div>
  <div class="pattern-preview">
    <div class="pattern-layout">
      <%= render :partial => @partial %>
    </div><!-- .pattern-layout -->
  </div><!-- .pattern-preview -->
</div><!-- .pattern -->
