<div class="component-header">
  <h1>Component Library: <%= @pattern %></h1>
  <p><a href="/components">View all</a></p>
</div>

<div class="patterns">
<%= render partial: "pattern", locals: { context: false } %>
</div>