<div class="hero">
  <h2 class="headline hero-headline">
    Need a barcode for your business?
  </h2>
  <h3 class="sub-headline hero-sub-headline">
    We've got you covered with the best prices and customer service in Israel.
  </h3>
</div>
