<div class="testimonials row">
  <div class="col-sm-4">
    <blockquote class="testimonial">
      <p>Super awesome service! You have changed my life, thank you so much Barcodes Israel</p>
      <cite>Bob Sawyer</cite>
    </blockquote>
  </div>

  <div class="col-sm-4">
    <blockquote class="testimonial">
      <p>Super awesome service! You have changed my life, thank you so much Barcodes Israel</p>
      <cite>Bob Sawyer</cite>
    </blockquote>
  </div>

  <div class="col-sm-4">
    <blockquote class="testimonial">
      <p>Super awesome service! You have changed my life, thank you so much Barcodes Israel</p>
      <cite>Bob Sawyer</cite>
    </blockquote>
  </div>
</div>
