<div class="why-us">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="headline why-us-headline">Why buy from us?</h2>
      </div>
      <div class="col-sm-6">
        <div class="why-us-about-us">
          <p>
            We are Kenya’s largest and most trusted online barcode
store, and our barcodes are accepted by the vast of majority
of retailers nationwide. We also provide for quick, hassle-free
and secure payment facilities through PAYFAST in order to
give you, the customer, complete peace of mind when
making a purchase.
          </p>
          <p>Any questions? Please
            <a href="#">contact us</a>
          </p>
        </div>
      </div>

      <div class="col-sm-6">
        <ul class="why-us-item-list">
          <li class="why-us-item">
            <span class="why-us-icon glyphicon glyphicon-ok-sign"></span>
            <span>Instant and secure payment</span>
          </li>
          <li class="why-us-item"><i class="why-us-icon glyphicon glyphicon-ok-sign"></i>Unique and Authentic GS1 Barcodes</li>
          <li class="why-us-item"><i class="why-us-icon glyphicon glyphicon-ok-sign"></i>1 hour delivery time during working hours</li>
          <li class="why-us-item"><i class="why-us-icon glyphicon glyphicon-ok-sign"></i>No hidden costs or renewal fees</li>
          <li class="why-us-item"><i class="why-us-icon glyphicon glyphicon-ok-sign"></i>Highest retailer acceptance rates in Kenya</li>
          <li class="why-us-item"><i class="why-us-icon glyphicon glyphicon-ok-sign"></i>High quality barcode images included</li>
        </ul>
      </div>
    </div>
  </div>
</div>
