@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Source Sans Pro', sans-serif;
  color: #56585A;
}

* {
  box-sizing: border-box;
}

body {
  padding-top: 84px;
  font-size: 16px;
}

a, a:link, a:visited, a:active {
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif;
  color: $primary;
}

a:hover, a:focus {
  color: $primary-dark;
}

ul, ol {
  list-style: none;
  padding-left: 0;
}

.headline {
  font-size: 24px;
  font-weight: 500;
  margin-top: 0.6em;
  margin-bottom: 0.3em;
}

.sub-headline {
  font-size: 18px;
  font-weight: 500;
  margin-top: 0.6em;
  margin-bottom: 0.3em;
}

.form-control {
  height: 44px;
}

.container-full-height {
  min-height: 100%;
}
