.btn {
  font-size: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: bold;
}

.btn-wide {
  padding-left: 2em;
  padding-right: 2em;
}

.btn-primary {
  background-color: $primary;
  border-color: $primary;
  color: white;
}

.btn-primary:hover {
  background-color: $primary-dark;
  border-color: $primary-dark;
}

.btn-primary-outline {
  background-color: transparent !important;
  border-color: $primary !important;
  color: $primary !important;
}

.btn-primary-outline:hover {
  background-color: $primary !important;
  color: white !important;
}
