.headline-buy {
  color: $primary;
}

.sub-headline-buy {
  color: $primary;
}

.table-buy td, .table-buy th {
  line-height: 49px !important;
}

.table-header-buy {
  width: 33.33%;
}

.table-buy-column {
  text-align: center;
}

.payment-icons-panel {
  padding: 1em;
  text-align: center;
}

.panel-body {
  text-align: center;
}

.panel-whats-included {
  text-align: center;
}

.included-item {
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.included-item-title {
  font-size: 18px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 10px;
}

.buy-container {
  margin-top: 10px;
}
