.faq-answer {
  margin-top: 2em;
}

.headline-faq {
  color: $primary;
}

.sub-headline-faq {
  color: $primary;
}

.faq-summary-list-link {
  color: $primary-dark;
  font-weight: bold;
}

.anchor-offset {
    display: block;
    position: relative;
    top: -90px;
    visibility: hidden;
}
