.footer-container {
  text-align: center;
}

.footer-navbar {
  margin-bottom: 0;
}

.footer-navbar-nav {
  display: block;
  float: none;
}

.footer-navbar-padding {
  padding: 0.5em;
}

@media (min-width: 768px) {
  .footer-navbar-nav {
    display: inline-block;
  }
}
