.navbar-fixed-top {
  background-color: white;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.2) !important;
}

.icon-bar {
  background-color: $primary;
}

.navbar-padding {
  padding: 1em;
}

.navbar-link {
  color: #56585A;
  border-radius: 4px;
  border: 1px solid transparent;
  font-weight: bold;

  &:link, &:visited, &:active {
    color: #56585A;
  }

  &:hover, &:focus {
    color: black;
  }
}

.navbar-link:hover {
  border: 1px solid #eee;
  color: black;
}

.navbar-brand {
  padding: 0;
  border: none;

  &:hover {
    border: none;
  }
}

.navbar-brand-image {
  line-height: 50px;
  vertical-align: top;
  display: inline-block !important;
}

.navbar-brand-text {
  display:inline-block;
  line-height: 50px;
  font-size: 24px;
  font-weight: 300;
}

.separator {
  display: block;
  width: 1em;
  height: 1em;
}
