.testimonials {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  background-color: $primary;
  color: white;
}

.testimonial {
  margin: 0;
  border: none;
  text-align: center;

  p {
    quotes: "“" "”";

    &:before {
      content: open-quote;
    }

    &:after {
      content: close-quote;
    }
  }

  cite {
    &:before {
      content: " - ";
    }
  }
}
