.why-us {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.why-us-headline {
  margin-top: 0;
  color: $primary;
}
 .why-us-item-list {
   padding: 0;
 }

.why-us-item {
  font-weight: bold;
}

 .why-us-icon {
   color: $primary;
   font-size: 1.5em;
   padding-right: 0.5em;
   top: 5px;
 }
