<div class="container">
  <div class="row">
    <div class="col-sm-7">
      <h1 class="headline headline-buy">Purchase Your Barcodes Online in Minutes!</h1>
      <p>Remember, if you're looking to buy barcodes online, we offer <strong>1-hour email delivery</strong> on all orders and have the guaranteed lowest prices in SA! We can supply you with a same-hour quote for any quantity of barcodes required. All barcodes are pre-approved and verified for use in South African retailers, and all barcodes are fully Gs1-authorised. Please see below for more details of what you will receive when you buy your barcodes online from us.</p>

      <div class="panel panel-default">
        <table class="table table-buy table-bordered table-striped">
          <thead>
            <tr>
              <th class="table-header-buy">Quantity</th>
              <th class="table-header-buy">Price</th>
              <th class="table-header-buy"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Ksh 1600.00</td>
              <td class="table-buy-column"><button class="btn btn-primary btn-wide">Buy Now</button></td>
            </tr>
            <tr>
              <td>2</td>
              <td>Ksh 2800.00</td>
              <td class="table-buy-column"><button class="btn btn-primary btn-wide">Buy Now</button></td>
            </tr>
            <tr>
              <td>5</td>
              <td>Ksh 5000.00</td>
              <td class="table-buy-column"><button class="btn btn-primary btn-wide">Buy Now</button></td>
            </tr>
            <tr>
              <td>10</td>
              <td>Ksh 9300.00</td>
              <td class="table-buy-column"><button class="btn btn-primary btn-wide">Buy Now</button></td>
            </tr>
            <tr>
              <td>20</td>
              <td>Ksh 17400.00</td>
              <td class="table-buy-column"><button class="btn btn-primary btn-wide">Buy Now</button></td>
            </tr>
            <tr>
              <td>50</td>
              <td>Ksh 31000.00</td>
              <td class="table-buy-column"><button class="btn btn-primary btn-wide">Buy Now</button></td>
            </tr>
            <tr>
              <td>100</td>
              <td>Ksh 55000.00</td>
              <td class="table-buy-column"><button class="btn btn-primary btn-wide">Buy Now</button></td>
            </tr>
            <tr>
              <td>200</td>
              <td>Ksh 100000.00</td>
              <td class="table-buy-column"><button class="btn btn-primary btn-wide">Buy Now</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="panel panel-default payment-icons-panel">
        <%= image_tag "secure-payment.png", class: "img-responsive center-block" %>
      </div>
      <div class="panel panel-default panel-whats-included">
        <div class="panel-heading">
          <h2 class="headline headline-buy">What's Included:</h3>
        </div>


        <div class="included-item">
          <h3 class="included-item-title">
            Both EAN and UPC Barcode Formats
          </h3>
          <p>(For local and international use)</p>
          <%= image_tag "ean-and-upc-barcodes.png", class: "img-responsive center-block included-item-image" %>
        </div>

        <div class="included-item">
          <h3 class="included-item-title">
            High Resolution Barcode Images
          </h3>
          <%= image_tag "image-formats.png", class: "img-responsive center-block included-item-image" %>
        </div>

        <div class="included-item">
          <h3 class="included-item-title">
            Certificate of Authenticity and Business Invoice
          </h3>
          <%= image_tag "invoice-and-certificate.png", class: "img-responsive center-block included-item-image" %>
        </div>
      </div>
    </div>
  </div>
</div>
