<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="headline headline-contact-us">Contact Us</h1>
    </div>
    <div class="col-sm-6 contact-form">
      <h1 class="sub-headline headline-contact-us">Send Us a Message</h1>
      <p>We would love to hear form you. Please don't hesistate to contact us if you have any questions</p>
      <form>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="name">Name</label>
              <input required="true" type="text" class="form-control" id="name" placeholder="Name">
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
              <label for="email">Email address</label>
              <input required="true" type="email" class="form-control" id="email" placeholder="Email">
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="message">Message</label>
          <textarea required="true" class="form-control" id="message" rows="10"></textarea>
        </div>

        <button class="btn btn-primary btn-contact-us" type="submit">Send</button>
      </form>
    </div>
    <div class="col-sm-5">


      <p><strong>Email:</strong> <br><a href="#">support@barcodes.co.il</a></p>
      <p><strong>Phone:</strong><br>+27827768946</p>
      <p><strong>Address:</strong> <br>1 Mayfair Court <br> Mount Road <br> Kenilworth <br> 7708</p>

      <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0"width="100%" height="250px" src="https://maps.google.com/maps?hl=en&q=Wessels Road, Kenilworth, Cape Town&ie=UTF8&t=m&z=16&iwloc=B&output=embed"></iframe>
    </div>
  </div>
</div>
