<div class="container">
  <h1 class="headline headline-faq">Frequently Asked Questions</h1>

  <ul class="faq-summary-list">
    <li><a class="faq-summary-list-link" href="#">What is a Barcode?</a></li>
    <li><a class="faq-summary-list-link" href="#">How are Barcodes used?</a></li>
    <li><a class="faq-summary-list-link" href="#">How many Barcode numbers do I need?</a></li>
  </ul>

  <div class="faq-answer">
    <h2 class="sub-headline sub-headline-faq">What is a Barcode?</h2>
    <p>Barcodes, also referred to as UPC and EAN codes, are simply unique numbered-codes (12 or 13 digits in length) that, when logged with a retailer, allow for the tracking and monitoring of a product within their digital inventories.</p>
  </div>

  <div class="faq-answer">
    <h2 class="sub-headline sub-headline-faq">How are Barcodes used?</h2>
    <p>When you have a product to sell, you will invariably take it to a retailer like Pick n’ Pay or Musica. They will then have to manually enter your product information into their system. At this stage they will also log your unique EAN-code into their inventory. Following this, every time that your barcode gets scanned at the teller, your personal account will be credited with a sale. The barcode simply connects the one to the other.</p>
  </div>

  <div class="faq-answer">
    <h2 class="sub-headline sub-headline-faq">How many Barcode numbers do I need?</h2>
    <p>You need a barcode for each different size, flavour, colour and variation of the product that you intend to sell. So, for instance, if you are selling yellow and green cushions in 2 different sizes you will require 4 separate barcodes. This is so that the retailer can keep track of the exact sales data of each of the 4 products and react accordingly. Therefore if your smaller-green cushions are selling at a faster rate than the others, they can order more of those to keep up with demand.</p>
  </div>
</div>
