@import "prism";
@import "component_overrides";

.pattern {
  margin-bottom: 3em;
  & > * {
    box-sizing: border-box;
    display: block;
    border: 1px solid;
    border-color: #ccc;
  }
}
.pattern-code {
  color: #333;
  background-color: #eee;
  padding: .5em 1%;
  border-radius: 3px 3px 0 0;
}
.pattern-preview {
  background-color: transparent;
  padding: 1em 1%;
  border-radius: 0 0 3px 3px;
  border-top-width: 0;
  .patterns & {
    overflow: hidden;
  }
}
.pattern-layout {
  position: relative;
  &:after {
    display: table;
    line-height: 0;
    content: "";
    clear: both;
  }
}
.pattern-bg {
  border: 1px solid #ccc;
  box-sizing: border-box;
  padding: .5em;
  margin-bottom: .5em;
}
.pattern-alt-bg {
  background-color: rgba(1,1,1,0.1);
  border: 1px solid #ccc;
  box-sizing: border-box;
  padding: .5em;
}
.pattern-inblo {
  display: inline-block;
}

.pattern-swatch {
  display: inline-block;
  border: 1px solid #ccc;
  border-left-width: 0;
  border-right-width: 0;
  padding: 1.5em;
  color: #fff;
}
.pattern-txt-light {
  color: #fff;
}
.pattern-txt-dark {
  color: #333;
}

.pattern-header {
  width: 96%;
  margin-left: 2%;
  & > * {
    line-height: 1.1;
  }
}

.pattern-anchor {
  float: right;
  margin-left: .5em;
  margin-right: .5em;
}
.pattern-pos-rel {
  position: relative;
}
.language-markup {
  display: none;
  padding: .5em 1em;
  border: 1px solid #ccc;
  margin: 1em 0;
  overflow: auto;
}
input[type=checkbox]:checked ~ .language-markup {
    display: block;
}
.pattern-override-overflow {
  position: relative !important;
}
.pattern-override-display {
  display: block !important;
}
.pattern-override-position {
  position: static !important;
}
.pattern-banner {
  color: #fff;
  max-width: 30em;
  height: 0;
  padding-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
}

.pattern-theme-selector {
  h2 {
    margin: 0 auto;
    border: #ccc 1px solid;
    padding: 2%;
    background-color: white;
  }
}
