<!DOCTYPE html>
<html>
<head>
  <title>Barcodes Israel</title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<style>
body {
direction:rtl;
} 
</style>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header">
    <nav class="navbar navbar-fixed-top">
      <div class="navbar-padding">
        <div class="container">

          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header navbar-right">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-nav">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <%= link_to root_path, class: "navbar-brand navbar-link" do %>
              <%= image_tag "logo.png", class: "navbar-brand-image" %>
              <span class="navbar-brand-text"><strong>ברקודים </strong>​ישראל</span>
            <% end %>
          </div>

          <div class="collapse navbar-collapse" id="header-nav">
            <ul class="nav navbar-nav navbar-left">
              <li>
                <%= link_to "דף הבית", root_path, class: "navbar-link" %>
              </li>
              <li>
                <%= link_to "שאלות נפוצות", faq_path, class: "navbar-link" %>
              </li>
              <li>
                <%= link_to "צור קשר", contact_path, class: "navbar-link" %>
              </li>
              <li class="separator"></li>
              <li>
                <%= link_to "רכישת הברקודים שלך", buy_path, class: "btn btn-primary-outline navbar-link" %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <%= yield %>

  <footer>
    <nav class="navbar footer-navbar">
      <div class="footer-navbar-padding">
        <div class="container footer-container">
          <ul class="nav navbar-nav footer-navbar-nav">
            <li>
              <%= link_to "דף הבית", root_path, class: "navbar-link" %>
            </li>
            <li>
              <%= link_to "שאלות נפוצות", faq_path, class: "navbar-link" %>
            </li>
            <li>
              <%= link_to "צור קשר", contact_path, class: "navbar-link" %>
            </li>
            <li>
              <%= link_to "רכישת הברקודים שלך", buy_path, class: "navbar-link" %>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </footer>
</body>
</html>
